attrs==18.2.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-completion==0.5.2
click-didyoumean==0.3.0
click-help-colors==0.9.1
colorama==0.4.3
distro==1.7.0
Flask==2.0.3
flask-ngrok==0.0.25
gql==3.0.0a6
gradient==1.10.0
gradient-utils==0.5.0
graphql-core==3.1.7
gunicorn==20.1.0
halo==0.0.31
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
log-symbols==0.0.14
MarkupSafe==2.1.0
marshmallow==2.21.0
multidict==6.0.2
progressbar2==4.0.0
prometheus-client==0.9.0
pymongo==3.12.3
pyngrok==5.1.0
python-utils==3.1.0
PyYAML==5.4.1
requests==2.27.1
requests-toolbelt==0.9.1
shellingham==1.4.0
spinners==0.0.24
termcolor==1.1.0
terminaltables==3.1.10
urllib3==1.26.8
websocket-client==0.57.0
Werkzeug==2.0.3
yarl==1.7.2
