:root {
    /* Colores */
    /*      Generales */
    --gold1: #F4BD76;
    --start_gradient_button: #F7CE90;
    --finish_gradient_button: #F48D76;
    /*      Modo claro */
    --black1: #000;
    --black2: #1A1B1F;
    --white3: #fafafa;
    --gray1_claro: #00000080;
    --gray2_claro: #08262690;
    --color_shadow_claro: #ffffff33;
    --start_gradient_header_claro: #ffffff;
    --finish_gradient_header_claro: #6db1e9;
    --header_border_claro: #0000008c;
    /*      Modo oscuro */
    --white1: #fff;
    --white2: #e5e4e0;
    --black3: #050505;
    --gray1_oscuro: #ffffff80;
    --gray2_oscuro: #f7d9d990;
    --color_shadow_oscuro: #00000033;
    --start_gradient_header_oscuro: #30353B;
    --finish_gradient_header_oscuro: #1A1B1F;
    --header_border_oscuro: #ffffff1a;
    /* Tamaños */
    --shadow: 0 8px 8px;
    --header_height: 8vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    transition: .3s ease all;
}

body {
    font-family: 'Fredoka', sans-serif;
}


/* Estilos en el modo oscuro */

body.dark_mode .header {
    background: linear-gradient(180deg, var(--start_gradient_header_oscuro) 0%, var(--finish_gradient_header_oscuro) 100%);
}

body.dark_mode .nav__header {
    color: var(--white1);
    border-bottom: 1px solid var(--header_border_oscuro);
}

body.dark_mode .link {
    color: var(--white1);
}

body.dark_mode .bars-solid {
    filter: invert(1);
}

body.dark_mode .sidebar.deploy {
    border: 1px solid white;
    background: black;
}

body.dark_mode .link_lateral {
    color: var(--white1);
    border-bottom: 1px solid white;
}

body.dark_mode .header__title {
    color: var(--white1);
}

body.dark_mode .header__subtitle {
    color: var(--gray1_oscuro);
    text-shadow: var(--shadow) var(--color_shadow_oscuro);
}

body.dark_mode .class_to_action {
    box-shadow: var(--shadow) var(--color_shadow_oscuro);
}

body.dark_mode .servicios {
    background: var(--black3);
}

body.dark_mode .servicios__title {
    color: var(--white1);
}

body.dark_mode .servicios__subtitle {
    color: var(--white2);
}

body.dark_mode .card {
    background: linear-gradient(180deg, var(--start_gradient_header_oscuro) 0%, var(--finish_gradient_header_oscuro) 100%);
    box-shadow: 0 0 6px var(--color_shadow_oscuro);
    border: 1px solid var(--white1);
}

body.dark_mode .card__img {
    border: 1px solid var(--white1);
}

body.dark_mode .card__title {
    color: var(--white1);
}

body.dark_mode .card__descrip {
    color: var(--gray2_oscuro);
}


/* Contenedor de cada sección de la página web */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7% 0;
    height: auto;
}


/* Encabezado de la página web */

.header {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: linear-gradient(180deg, var(--start_gradient_header_claro) 0%, var(--finish_gradient_header_claro) 100%);
}


/* Barra de navegación del encabezado */

.nav__header {
    color: var(--black1);
    height: var(--header_height);
    border-bottom: 1px solid var(--header_border_claro);
}


/* Contenedor de la barra de navegación */

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}


/* Siglas del logo */

.siglas {
    /* Tamaño de fuente igual al del logo */
    font-size: 100%;
    color: var(--gold1);
}


/* Herramientas de la barra de navegación */

.tools {
    display: flex;
}


/* Links de la barra de navegación */

.link {
    display: inline-block;
    color: var(--black1);
    text-decoration: none;
    font-weight: 300;
    padding: 1vh;
}


/* Último link de la barra de navegación */

.link__active {
    color: var(--gold1);
    text-decoration: none;
    font-weight: 700;
}


/* Switch para cambiar a modo oscuro */

.switch_dark_mode {
    background: gray;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    outline: none;
    border: 1px solid black;
    margin: auto 1vh;
    display: inline-flex;
}


/* Bola interior del switch */

.switch_dark_mode::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}


/* Switch activo en modo oscuro */

.switch_dark_mode.active {
    background: orange;
    border: 1px solid white;
}


/* Bola interior del switch con el modo oscuro activado */

.switch_dark_mode.active::after {
    right: 0;
    left: unset;
}


/* Icono del switch */

.icono {
    width: 20px;
    height: 20px;
    margin: 5px;
}


/* Botón para desplegar la barra de navegación lateral */

.button_sidebar {
    height: 30px;
    width: 25px;
    background: none;
    cursor: pointer;
    border: none;
    margin: auto 1vh;
}


/* Botón general */

.class_to_action {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
    display: inline-block;
    background: linear-gradient(180deg, var(--start_gradient_button) 0%, var(--finish_gradient_button) 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow_claro);
    border-radius: 6px;
}


/* Barra de navegación lateral */

.sidebar {
    width: 0;
    height: 0;
    top: var(--header_height);
    right: 0;
    position: absolute;
    display: none;
    border: none;
    text-align: left;
}


/* Link de la barra de navegación lateral */

.link_lateral {
    display: block;
    color: var(--black1);
    text-decoration: none;
    font-weight: 300;
    padding: 1vh 0 1vh 2vh;
    border-bottom: 1px solid black;
}


/* Último link de la barra de navegación lateral */

.link_lateral__active {
    display: block;
    color: var(--gold1);
    text-decoration: none;
    font-weight: 700;
    padding: 1vh 0 1vh 2vh;
}

.oculto {
    display: none;
}