/* Imports */

@import url(base_styles.css);
@import url(laptop_styles.css);
@import url(tablet_horizontal_styles.css);
@import url(tablet_vertical_styles.css);
@import url(movil_styles.css);

/* Servicios */

.servicios {
    background: var(--white3);
}


/* Imagen de la carta */

.card__img {
    width: 95%;
    height: 50%;
    object-fit: fill;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--black1);
}


/* Texto de la carta */

.cards__text {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}


/* Botón de la carta */

.card__button {
    display: block;
    background: linear-gradient(180deg, var(--start_gradient_button) 0%, var(--finish_gradient_button) 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black2);
    font-weight: 700;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}