/* Imports */

@import url(base_styles.css);
@import url(laptop_styles.css);
@import url(tablet_horizontal_styles.css);
@import url(tablet_vertical_styles.css);
@import url(movil_styles.css);

/* Visualización del chat del chatbot */

.chat {
    height: calc(100vh - var(--header_height));
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Iframe de Dialogflow del chatbot */

.chat_iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}