/* Estilos para la visualización en un móvil */

@media screen and (max-width: 400px) and (min-width: 200px) and (max-height: 850px) and (min-height: 500px) {
    /* Logo de la barra de navegación */
    .logo__name {
        font-size: 110%;
    }
    /* Links de la barra de navegación */
    .show_links {
        display: none;
    }
    /* Botón para mostrar la barra de navegación lateral */
    .show_sidebar {
        display: inline-block;
    }
    /* Barra de navegación lateral */
    .sidebar.deploy {
        display: block;
        border: 1px solid black;
        width: 50%;
        height: auto;
        background: white;
    }
    /* Contenido principal de la cabecera */
    .header__main {
        height: calc(100vh - var(--header_height));
        align-items: center;
        padding: 0;
    }
    /* Texto de la cabecera */
    .header__texts {
        display: block;
        height: 50%;
    }
    /* Título de la cabecera */
    .header__title {
        font-size: 160%;
        font-weight: 500;
        color: var(--black1);
    }
    /* Subtítulo de la cabecera */
    .header__subtitle {
        font-size: 100%;
        color: var(--gray1_claro);
        text-shadow: var(--shadow) var(--color_shadow_claro);
        margin: 4% 0 4%;
    }
    /* Imagen de la cabecera */
    .mockup {
        object-fit: contain;
        height: 50%;
        width: 100%;
        display: block;
        margin-top: 20%;
    }
    /* Título de la sección de servicios */
    .servicios__title {
        font-size: 180%;
        color: var(--black1);
    }
    /* Subtítulo de la sección de servicios */
    .servicios__subtitle {
        color: var(--black2);
        font-size: 100%;
        line-height: 20px;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    /* Contenedor de las cartas */
    .container__cards {
        display: block;
        justify-content: space-around;
        align-items: center;
    }
    /* Carta */
    .card {
        width: 60%;
        padding: 2.5% 0;
        overflow: hidden;
        background: linear-gradient(180deg, var(--start_gradient_header_claro) 0%, var(--finish_gradient_header_claro) 100%);
        border-radius: 10px;
        text-align: right;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
        box-shadow: 0 0 6px var(--color_shadow_claro);
        border: 1px solid var(--black1);
        display: block;
    }
    /* Título de las cartas */
    .card__title {
        font-size: 150%;
        color: var(--black1);
        margin-bottom: 4.5%;
    }
    /* Descripción de las cartas */
    .card__descrip {
        color: var(--gray2_claro);
        margin-bottom: 9%;
    }
}