<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La noche europea de los investigadores</title>
    <!-- Estilo de la sección de dedución de edad -->
    <link rel="stylesheet" href="/static/css/capture_image_styles.css">
    <!-- Fuentes de la sección de dedución de edad -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/sweetAlert2/sweetalert2.min.css">
</head>

<body>
    <!-- Definición de las variables a usar en Javascript -->
    <!--    Canal elegido para usar el chatbot -->
    <p id="canal" class="oculto">{{ canal }}</p>
    <!--    Estado del switch de cambio a modo oscuro en la anterior ventana -->
    <p id="dark_mode" class="oculto">{{ dark_mode }}</p>
    <!--    Dirección raíz del servidor GPU -->
    <p id="url" class="oculto">{{ server_gpu_url }}</p>
    <!--    Sección dentro del servidor GPU para la dedución de la edad -->
    <p id="deduct" class="oculto">{{ apartado_deduct }}</p>
    <!--    Sección dentro de la APP para la interfaz web del chatbot para adultos -->
    <p id="web_adult" class="oculto">{{ web_interface_adult }}</p>
    <!--    Sección dentro de la APP para la interfaz web del chatbot para niños -->
    <p id="web_child" class="oculto">{{ web_interface_child }}</p>
    <!--    Dirección hacia la interfaz de Telegram del chatbot para adultos -->
    <p id="telegram_adult" class="oculto">{{ telegram_interface_adult }}</p>
    <!--    Dirección hacia la interfaz de Telegram del chatbot para niños -->
    <p id="telegram_child" class="oculto">{{ telegram_interface_child }}</p>


    <!-- Animación de carga -->
    <div class="loading" id="loading"></div>

    <!-- Cabecera de la página -->
    <header class="header">
        <nav class="nav__header">
            <div class="container nav__container">
                <!-- Logo de la barra de navegación -->
                <div class="logo">
                    <h2 class="logo__name">La noche europea de los investigadores <span class="siglas">(ERN)</span></h2>
                </div>
                <!-- Utilidades de la barra de navegación -->
                <div class="tools">
                    <!-- Links de la barra de navegación -->
                    <div class="show_links links">
                        <div id="link_inicio" class="link pointer">
                            <a>Inicio</a>
                        </div>
                        <a href="#" class="link__active">Sobre nosotros</a>
                    </div>
                    <!-- Switch para el cambio a modo oscuro -->
                    <button class="switch_dark_mode" id="switch_dark_mode">
                        <img src="/static/img/sun-solid.svg" class="icono icono_sun">
                        <img src="/static/img/moon-solid.svg" class="icono icono_moon">
                    </button>
                    <!-- Botón para el despliegue de la barra de navegación lateral -->
                    <button class="show_sidebar button_sidebar" id="button_sidebar">
                        <img src="/static/img/bars-solid.svg" class="bars-solid">
                    </button>
                </div>
            </div>
        </nav>

        <!-- Contenido de la cabecera -->
        <section class="container__header__main__capture">
            <!-- Sección de toma de imágenes para todos los dispositivos menos los móviles -->
            <div class="rest_device">
                <!-- Visor de video -->
                <div class="cont_video">
                    <video id="video" class="video" playsinline autoplay></video>
                </div>
                <!-- Botón de captura de imágenes -->
                <div class="capture_button">
                    <div id="snap" class="enlace">
                        <img src="/static/img/camera-solid.svg" class="icono message-solid">
                        <div class="button">Capturar</div>
                    </div>
                </div>
            </div>

            <!-- Sección de toma de imágenes exclusivamente para los móviles -->
            <div class="mobile">
                <div class="capture_button_mobile">
                    <input type="file" accept="image/*" capture="camera" id="camera" class="input" />
                </div>
            </div>

            <!-- Barra de navegación lateral -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar_content">
                    <div id="link_inicio_lateral" class="link_lateral pointer">
                        <a>Inicio</a>
                    </div>
                    <a href="#" class="link_lateral__active">Sobre nosotros</a>
                </div>
            </div>
        </section>
    </header>

    <!-- Sección de envío de imágenes para todos los dispositivos menos los móviles -->
    <div class="rest_device">
        <main>
            <section id="visualizar" class="visualizar">
                <div class="container__header__main__capture">
                    <div>
                        <!-- Visor de imágenes -->
                        <section class="cont_video">
                            <canvas id="canvasLaptop" class="canvasLaptop" width="830" height="624"></canvas>
                            <canvas id="canvasTabletVertical" class="canvasTabletVertical" width="450" height="338"></canvas>
                            <canvas id="canvasTabletHorizontal" class="canvasTabletHorizontal" width="547" height="411"></canvas>
                            <canvas id="canvasMovil" class="canvasMovil" width="180" height="135"></canvas>
                        </section>
                        <!-- Botón de envío de imágenes -->
                        <div id="send_button" class="send_button">
                            <div id="send" class="enlace">
                                <img src="/static/img/paper-plane-solid.svg" class="icono message-solid">
                                <div class="button">Enviar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <!-- Scripts de Javascript -->
    <script src="/static/plugins/sweetAlert2/sweetalert2.all.min.js"></script>
    <script src="/static/js/functions.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/capture_image.js"></script>
</body>

</html>