<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La noche europea de los investigadores</title>
    <link rel="stylesheet" href="/static/css/capture_image_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav__header">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">La noche europea de los investigadores <span class="siglas">(ERN)</span></h2>
                </div>
                <div class="tools">
                    <div class="show_links links">
                        <a href="./" class="link">Inicio</a>
                        <a href="#" class="link__active">Sobre nosotros</a>
                    </div>
                    <button class="switch_dark_mode" id="switch_dark_mode">
                        <img src="/static/img/sun-solid.svg" class="icono icono_sun">
                        <img src="/static/img/moon-solid.svg" class="icono icono_moon">
                    </button>
                    <button class="show_sidebar button_sidebar" id="button_sidebar">
                        <img src="/static/img/bars-solid.svg" class="bars-solid">
                    </button>
                </div>
            </div>
        </nav>

        <section class="container__header__main__capture">
            <!-- Stream video via webcam -->

            <video class="video" id="video" playsinline autoplay></video>

            <div class="capture_button">
                <div id="snap" class="enlace">
                    <img src="/static/img/camera-solid.svg" class="icono message-solid">
                    <div class="button">Capturar</div>
                </div>
            </div>

            <div class="sidebar" id="sidebar">
                <div class="sidebar_content">
                    <a href="./" class="link_lateral">Inicio</a>
                    <a href="#" class="link_lateral__active">Sobre nosotros</a>
                </div>
            </div>
        </section>
    </header>


    <!--
        Stream video via webcam
    <div class="video-wrap" id="video-wrap">
        <video id="video" playsinline autoplay></video>
    </div>

        Trigger canvas web API
    <div class="controller">
        <button id="snap">Capture</button>
    </div>

        Webcam video snapshot
    <canvas id="canvas" width="640" height="480"></canvas>
    -->

    <script src="/static/js/capture_image.js"></script>
</body>

</html>