<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La noche europea de los investigadores</title>
    <link rel="stylesheet" href="/static/css/capture_image_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/sweetAlert2/sweetalert2.min.css">
</head>

<body>
    <p id="canal" class="oculto">{{ canal }}</p>
    <p id="url" class="oculto">{{ server_gpu_url }}</p>
    <p id="deduct" class="oculto">{{ apartado_deduct }}</p>
    <p id="web_adult" class="oculto">{{ web_interface_adult }}</p>
    <p id="web_child" class="oculto">{{ web_interface_child }}</p>
    <p id="telegram_adult" class="oculto">{{ telegram_interface_adult }}</p>
    <p id="telegram_child" class="oculto">{{ telegram_interface_child }}</p>

    <script>
        function isVisible(element) {
            return element.offsetWidth > 0 || element.offsetHeight > 0;
        }

        function obtenerCanvas() {
            var canvasLaptop = document.getElementById('canvasLaptop');
            var canvasTabletVertical = document.getElementById('canvasTabletVertical');
            var canvasTabletHorizontal = document.getElementById('canvasTabletHorizontal');
            var canvasMovil = document.getElementById('canvasMovil');

            if (isVisible(canvasLaptop)) {
                return 'canvasLaptop';
            }
            if (isVisible(canvasTabletVertical)) {
                return 'canvasTabletVertical';
            }
            if (isVisible(canvasTabletHorizontal)) {
                return 'canvasTabletHorizontal';
            }
            if (isVisible(canvasMovil)) {
                return 'canvasMovil';
            }
        }

        function snapPhoto() {
            var canvas = document.getElementById(obtenerCanvas());
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            var relacion = 1.33;

            var videoHeight = video.clientWidth / relacion;
            var inicioHeight = (video.clientHeight - videoHeight) / 2;
            context.drawImage(video, 0, inicioHeight, video.clientWidth, videoHeight);

            document.getElementById('send_button').style.display = 'block';
        }

        function sendPhoto() {
            Swal.fire({
                title: '¿Deseas enviar esta foto?',
                text: "¡No podrás revertir tu decisión!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#00FF24',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Enviar',
                cancelButtonText: 'No enviar'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = document.getElementById('url').innerText;

                    url_deduct = url + '/' + document.getElementById('deduct').innerText;

                    var canvas = document.getElementById(obtenerCanvas());
                    var imgBase64 = canvas.toDataURL("image/jpeg", 1.0);

                    console.log(imgBase64)

                    const Http = new XMLHttpRequest();
                    Http.open("POST", url_deduct, true);
                    Http.setRequestHeader("Content-Type", "application/json");

                    Http.onreadystatechange = function() {
                        var age = Http.responseText
                        console.log(age)

                        if (document.getElementById('canal').innerText == "web") {
                            window.location.replace('./' + document.getElementById('web_' + age).innerText);
                        } else if (document.getElementById('canal').innerText == "telegram") {
                            window.location.replace(document.getElementById('telegram_' + age).innerText)
                        }
                    };

                    var data = {
                        imagen: imgBase64
                    }

                    Http.send(JSON.stringify(data));

                    var loading = document.getElementById('loading');
                    loading.classList.toggle('active');
                }
            });
        }
    </script>

    <div class="loading" id="loading"></div>

    <header class="header">
        <nav class="nav__header">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">La noche europea de los investigadores <span class="siglas">(ERN)</span></h2>
                </div>
                <div class="tools">
                    <div class="show_links links">
                        <a href="./" class="link">Inicio</a>
                        <a href="#" class="link__active">Sobre nosotros</a>
                    </div>
                    <button class="switch_dark_mode" id="switch_dark_mode">
                        <img src="/static/img/sun-solid.svg" class="icono icono_sun">
                        <img src="/static/img/moon-solid.svg" class="icono icono_moon">
                    </button>
                    <button class="show_sidebar button_sidebar" id="button_sidebar">
                        <img src="/static/img/bars-solid.svg" class="bars-solid">
                    </button>
                </div>
            </div>
        </nav>

        <section class="container__header__main__capture">
            <div class="rest_device">
                <div class="cont_video">
                    <video id="video" class="video" playsinline autoplay></video>
                </div>

                <div class="capture_button">
                    <div id="snap" class="enlace" onclick="snapPhoto()">
                        <img src="/static/img/camera-solid.svg" class="icono message-solid">
                        <div class="button">Capturar</div>
                    </div>
                </div>
            </div>

            <div class="mobile">
                <div class="capture_button_mobile">
                    <input type="file" accept="image/*" capture="camera" id="camera" class="input" />
                </div>
            </div>

            <div class="sidebar" id="sidebar">
                <div class="sidebar_content">
                    <a href="./" class="link_lateral">Inicio</a>
                    <a href="#" class="link_lateral__active">Sobre nosotros</a>
                </div>
            </div>
        </section>
    </header>

    <div class="rest_device">
        <main>
            <section id="visualizar" class="visualizar">
                <div class="container__header__main__capture">
                    <div>
                        <section class="cont_video">
                            <canvas id="canvasLaptop" class="canvasLaptop" width="830" height="624"></canvas>
                            <canvas id="canvasTabletVertical" class="canvasTabletVertical" width="450" height="338"></canvas>
                            <canvas id="canvasTabletHorizontal" class="canvasTabletHorizontal" width="547" height="411"></canvas>
                            <canvas id="canvasMovil" class="canvasMovil" width="180" height="135"></canvas>
                        </section>

                        <div id="send_button" class="send_button">
                            <div id="send" class="enlace" onclick="sendPhoto()">
                                <img src="/static/img/paper-plane-solid.svg" class="icono message-solid">
                                <div class="button">Enviar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="/static/plugins/sweetAlert2/sweetalert2.all.min.js"></script>
    <script src="/static/js/capture_image.js"></script>
</body>

</html>