<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La noche europea de los investigadores</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav__header">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">La noche europea de los investigadores <span class="siglas">(ERN)</span></h2>
                </div>
                <div class="links">
                    <a href="#" class="link">Inicio</a>
                    <a href="#" class="link">Servicios</a>
                    <a href="#" class="link__active">Sobre nosotros</a>
                </div>
            </div>
        </nav>

        <section class="container header__main">
            <div class="header__texts">
                <h1 class="header__title">Este es el titulo</h1>
                <p class="header__subtitle">Este será el subtitulo</p>
                <a href="#" class="class_to_action">Leer más</a>
            </div>
            <img src="../static/img/mockup_noche_inves.png" alt="" class="mockup">
        </section>
    </header>

    <main>
        <section class="servicios">
            <div class="container">
                <h2 class="servicios__title">Titulo de los servicios</h2>
                <p class="servicios__subtitle">Subtitulo de los servicios</p>

                <article class="container__cards">
                    <div class="card">
                        <img src="../static/img/img_chatbot.jpg" alt="" class="card__img">
                        <div class="cards__text">
                            <h3 class="card__title">Sara Chatbot</h3>
                            <p class="card__descrip">Este es un chatbot para conocer la IA</p>
                            <a href="#" class="card__button">Ir al chatbot</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../static/img/img_coming_soon.jpg" alt="" class="card__img">
                        <div class="cards__text">
                            <h3 class="card__title">Próximamente</h3>
                            <p class="card__descrip">El resto de servicios se irán añadiendo en futuras ediciones.</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
</body>

</html>