<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La noche europea de los investigadores</title>
    <link rel="stylesheet" href="/static/css/interface_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <p id="dark_mode" class="oculto">{{ dark_mode }}</p>


    <header class="header">
        <nav class="nav__header">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">La noche europea de los investigadores <span class="siglas">(ERN)</span></h2>
                </div>
                <div class="tools">
                    <div class="show_links links">
                        <div id="link_inicio" class="link">
                            <a>Inicio</a>
                        </div>
                        <div id="link_chatbot" class="link">
                            <a>Sara Chatbot</a>
                        </div>
                        <a href="#" class="link__active">Sobre nosotros</a>
                    </div>
                    <button class="switch_dark_mode" id="switch_dark_mode">
                        <img src="/static/img/sun-solid.svg" class="icono icono_sun">
                        <img src="/static/img/moon-solid.svg" class="icono icono_moon">
                    </button>
                    <button class="show_sidebar button_sidebar" id="button_sidebar">
                        <img src="/static/img/bars-solid.svg" class="bars-solid">
                    </button>
                </div>
            </div>
        </nav>
        <div class="chat">
            <iframe class="chat_iframe" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/3672585b-6bc9-4483-b917-085debcf5b7c"> Your browser doesn't support iframes </iframe>
            <div class="sidebar" id="sidebar">
                <div class="sidebar_content">
                    <div id="link_inicio_lateral" class="link_lateral">
                        <a>Inicio</a>
                    </div>
                    <div id="link_chatbot_lateral" class="link_lateral">
                        <a>Sara Chatbot</a>
                    </div>
                    <a href="#" class="link_lateral__active">Sobre nosotros</a>
                </div>
            </div>
        </div>
    </header>


    <script src="/static/js/functions.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/interface_adult.js"></script>
</body>

</html>